<a href="https://colab.research.google.com/github/AlecAndre/CCINCOML_EXERCISES_COM23P/blob/main/Copy_of_exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [2]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [1]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [4]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

last_four_months = months[8:]  # Slicing from index 8 to the end of the list

print(last_four_months)

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [5]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

first_four_months = months[:4]  # Slicing from the beginning up to index 4

print(first_four_months)

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [6]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

size_of_month_list = len(months)

print("Size of the month list:", size_of_month_list)

Size of the month list: 12

- Get the element with the largest value of the month list using `max()`

In [ ]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

largest_month = max(months)

print("The element with the largest value in the month list:", largest_month)

- Get the element with the smallest value of the month list using `min()`

In [ ]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

smallest_month = min(months)

print("The element with the smallest value in the month list:", smallest_month)

- Sort the months of the year by alphabetical order using the `sorted()` function

In [2]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

sorted_months = sorted(months)

print("Months sorted in alphabetical order:", sorted_months)

Months sorted in alphabetical order: ['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [5]:
# put your answer here

# Creating the tuple with month, day, and year of birth
birthday_tuple = (1, 25, 2004)

# Printing the variables
print("Month of birth:", month)
print("Day of birth:", day)
print("Year of birth:", year)

Month of birth: 1
Day of birth: 25
Year of birth: 2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [6]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

['headphones', 'tablet', 'smartphone', 'speakers', 'mouse', 'monitor', 'powerbank', 'printer', 'projector', 'laptop', 'keyboard']

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [ ]:
# put your answer here

products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

unique_products = list(set(products))

print(unique_products)

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [8]:
# put your answer here

products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

if "headphones" in products:
    print("Yes, 'headphones' exists in the products list.")
else:
    print("No, 'headphones' does not exist in the products list.")

Yes, 'headphones' exists in the products list.

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [ ]:
# put your answer here

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [9]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [10]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    if month.endswith("ber"):
        print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [ ]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    if not month.endswith("ber"):
        print(month)

4. Write a for loop and use `range()` to display your firstname five times

In [11]:
# put your answer here

firstname = "Alec"

for _ in range(5):
    print(firstname)

Alec
Alec
Alec
Alec
Alec

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [ ]:
# put your answer here

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

usernames = []

for name in names:
    # Convert name to lowercase and replace spaces with underscores
    username = name.lower().replace(" ", "_")
    usernames.append(username)

print(usernames)

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [ ]:
# put your answer here

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

index = 0
while index < len(months):
    if months[index].endswith("ber"):
        break
    print(months[index])
    index += 1

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [14]:
# put your answer here

def population_density(population, land_area):
    # Calculate population density
    density = population / land_area
    return density

# Example usage:
population = 100000
land_area = 5000  # in square kilometers
density = population_density(population, land_area)
print("Population density:", density, "people per square kilometer")

Population density: 20.0 people per square kilometer

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [ ]:
# put your answer here

def averagesteps(steps_list):
    # Calculate the total number of steps
    total_steps = sum(steps_list)

    # Calculate the average number of steps
    average = total_steps / len(steps_list)

    # Return the average
    return average

# Example list of steps taken each day for a week
steps_per_day = [5000, 6000, 5500, 7000, 8000, 7500, 6000]

# Calculate and print the average steps using the averagesteps function
average = averagesteps(steps_per_day)
print("Average steps taken per day:", average)